/UIViewT4Template/bin/
/.vs/
/UIViewT4Template/obj/Release/
/UIViewT4Template/obj/Debug/
/UIViewT4Template/obj/Debug/UIViewT4Template.csproj.CoreCompileInputs.cache
/UIViewT4Template/obj/Debug/UIViewT4Template.csproj.FileListAbsolute.txt
/UIViewT4Template/obj/Debug/UIViewT4Template.dll
/UIViewT4Template/obj/Debug/UIViewT4Template.pdb
